# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# Environment variables
.env

# IDE
.vscode/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db~~v